<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haohai.cms.mapper.TCmsShoppingCarMapper" >
  <resultMap id="BaseResultMap" type="com.haohai.cms.model.TCmsShoppingCar" >
    <id column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_good_id" property="customerGoodId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="cms_good_id" property="cmsGoodId" jdbcType="INTEGER" />
    <result column="cms_good_guige" property="cmsGoodGuige" jdbcType="VARCHAR" />
    <result column="car_good_count" property="carGoodCount" jdbcType="INTEGER" />
    <result column="shopping_car_status" property="shoppingCarStatus" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="good_now_price" property="goodNowPrice" jdbcType="DECIMAL" />
    <result column="good_old_price" property="goodOldPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    car_id, customer_id, customer_good_id, order_id, cms_good_id, cms_good_guige, car_good_count, 
    shopping_car_status, crt_date, end_date, good_now_price, good_old_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haohai.cms.model.TCmsShoppingCarCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_shopping_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_shopping_car
    where car_id = #{carId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cms_shopping_car
    where car_id = #{carId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.haohai.cms.model.TCmsShoppingCarCriteria" >
    delete from t_cms_shopping_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haohai.cms.model.TCmsShoppingCar" >
    insert into t_cms_shopping_car (car_id, customer_id, customer_good_id, 
      order_id, cms_good_id, cms_good_guige, 
      car_good_count, shopping_car_status, crt_date, 
      end_date, good_now_price, good_old_price
      )
    values (#{carId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{customerGoodId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER}, #{cmsGoodId,jdbcType=INTEGER}, #{cmsGoodGuige,jdbcType=VARCHAR}, 
      #{carGoodCount,jdbcType=INTEGER}, #{shoppingCarStatus,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}, 
      #{endDate,jdbcType=TIMESTAMP}, #{goodNowPrice,jdbcType=DECIMAL}, #{goodOldPrice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.haohai.cms.model.TCmsShoppingCar" >
    insert into t_cms_shopping_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        car_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerGoodId != null" >
        customer_good_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="cmsGoodId != null" >
        cms_good_id,
      </if>
      <if test="cmsGoodGuige != null" >
        cms_good_guige,
      </if>
      <if test="carGoodCount != null" >
        car_good_count,
      </if>
      <if test="shoppingCarStatus != null" >
        shopping_car_status,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="goodNowPrice != null" >
        good_now_price,
      </if>
      <if test="goodOldPrice != null" >
        good_old_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerGoodId != null" >
        #{customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="cmsGoodId != null" >
        #{cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="cmsGoodGuige != null" >
        #{cmsGoodGuige,jdbcType=VARCHAR},
      </if>
      <if test="carGoodCount != null" >
        #{carGoodCount,jdbcType=INTEGER},
      </if>
      <if test="shoppingCarStatus != null" >
        #{shoppingCarStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodNowPrice != null" >
        #{goodNowPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodOldPrice != null" >
        #{goodOldPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haohai.cms.model.TCmsShoppingCarCriteria" resultType="java.lang.Integer" >
    select count(*) from t_cms_shopping_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_shopping_car
    <set >
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.customerGoodId != null" >
        customer_good_id = #{record.customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.cmsGoodId != null" >
        cms_good_id = #{record.cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="record.cmsGoodGuige != null" >
        cms_good_guige = #{record.cmsGoodGuige,jdbcType=VARCHAR},
      </if>
      <if test="record.carGoodCount != null" >
        car_good_count = #{record.carGoodCount,jdbcType=INTEGER},
      </if>
      <if test="record.shoppingCarStatus != null" >
        shopping_car_status = #{record.shoppingCarStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodNowPrice != null" >
        good_now_price = #{record.goodNowPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodOldPrice != null" >
        good_old_price = #{record.goodOldPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_shopping_car
    set car_id = #{record.carId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      customer_good_id = #{record.customerGoodId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      cms_good_id = #{record.cmsGoodId,jdbcType=INTEGER},
      cms_good_guige = #{record.cmsGoodGuige,jdbcType=VARCHAR},
      car_good_count = #{record.carGoodCount,jdbcType=INTEGER},
      shopping_car_status = #{record.shoppingCarStatus,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      good_now_price = #{record.goodNowPrice,jdbcType=DECIMAL},
      good_old_price = #{record.goodOldPrice,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haohai.cms.model.TCmsShoppingCar" >
    update t_cms_shopping_car
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerGoodId != null" >
        customer_good_id = #{customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="cmsGoodId != null" >
        cms_good_id = #{cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="cmsGoodGuige != null" >
        cms_good_guige = #{cmsGoodGuige,jdbcType=VARCHAR},
      </if>
      <if test="carGoodCount != null" >
        car_good_count = #{carGoodCount,jdbcType=INTEGER},
      </if>
      <if test="shoppingCarStatus != null" >
        shopping_car_status = #{shoppingCarStatus,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        crt_date = #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodNowPrice != null" >
        good_now_price = #{goodNowPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodOldPrice != null" >
        good_old_price = #{goodOldPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haohai.cms.model.TCmsShoppingCar" >
    update t_cms_shopping_car
    set customer_id = #{customerId,jdbcType=INTEGER},
      customer_good_id = #{customerGoodId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      cms_good_id = #{cmsGoodId,jdbcType=INTEGER},
      cms_good_guige = #{cmsGoodGuige,jdbcType=VARCHAR},
      car_good_count = #{carGoodCount,jdbcType=INTEGER},
      shopping_car_status = #{shoppingCarStatus,jdbcType=VARCHAR},
      crt_date = #{crtDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      good_now_price = #{goodNowPrice,jdbcType=DECIMAL},
      good_old_price = #{goodOldPrice,jdbcType=DECIMAL}
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
</mapper>