<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haohai.cms.mapper.TCmsGoodCommentMapper" >
  <resultMap id="BaseResultMap" type="com.haohai.cms.model.TCmsGoodComment" >
    <id column="comment_id" property="commentId" jdbcType="BIGINT" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_good_id" property="customerGoodId" jdbcType="INTEGER" />
    <result column="cms_good_id" property="cmsGoodId" jdbcType="INTEGER" />
    <result column="comment_start" property="commentStart" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="comment_content_answer" property="commentContentAnswer" jdbcType="VARCHAR" />
    <result column="comment_content1" property="commentContent1" jdbcType="VARCHAR" />
    <result column="comment_content_answer1" property="commentContentAnswer1" jdbcType="VARCHAR" />
    <result column="data_flag" property="dataFlag" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    comment_id, customer_id, customer_good_id, cms_good_id, comment_start, comment_content, 
    comment_content_answer, comment_content1, comment_content_answer1, data_flag, crt_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haohai.cms.model.TCmsGoodCommentCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_good_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_good_comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cms_good_comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.haohai.cms.model.TCmsGoodCommentCriteria" >
    delete from t_cms_good_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haohai.cms.model.TCmsGoodComment" >
    insert into t_cms_good_comment (comment_id, customer_id, customer_good_id, 
      cms_good_id, comment_start, comment_content, 
      comment_content_answer, comment_content1, 
      comment_content_answer1, data_flag, crt_date
      )
    values (#{commentId,jdbcType=BIGINT}, #{customerId,jdbcType=INTEGER}, #{customerGoodId,jdbcType=INTEGER}, 
      #{cmsGoodId,jdbcType=INTEGER}, #{commentStart,jdbcType=VARCHAR}, #{commentContent,jdbcType=VARCHAR}, 
      #{commentContentAnswer,jdbcType=VARCHAR}, #{commentContent1,jdbcType=VARCHAR}, 
      #{commentContentAnswer1,jdbcType=VARCHAR}, #{dataFlag,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.haohai.cms.model.TCmsGoodComment" >
    insert into t_cms_good_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerGoodId != null" >
        customer_good_id,
      </if>
      <if test="cmsGoodId != null" >
        cms_good_id,
      </if>
      <if test="commentStart != null" >
        comment_start,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="commentContentAnswer != null" >
        comment_content_answer,
      </if>
      <if test="commentContent1 != null" >
        comment_content1,
      </if>
      <if test="commentContentAnswer1 != null" >
        comment_content_answer1,
      </if>
      <if test="dataFlag != null" >
        data_flag,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerGoodId != null" >
        #{customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="cmsGoodId != null" >
        #{cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="commentStart != null" >
        #{commentStart,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentContentAnswer != null" >
        #{commentContentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="commentContent1 != null" >
        #{commentContent1,jdbcType=VARCHAR},
      </if>
      <if test="commentContentAnswer1 != null" >
        #{commentContentAnswer1,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null" >
        #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haohai.cms.model.TCmsGoodCommentCriteria" resultType="java.lang.Integer" >
    select count(*) from t_cms_good_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_good_comment
    <set >
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.customerGoodId != null" >
        customer_good_id = #{record.customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="record.cmsGoodId != null" >
        cms_good_id = #{record.cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="record.commentStart != null" >
        comment_start = #{record.commentStart,jdbcType=VARCHAR},
      </if>
      <if test="record.commentContent != null" >
        comment_content = #{record.commentContent,jdbcType=VARCHAR},
      </if>
      <if test="record.commentContentAnswer != null" >
        comment_content_answer = #{record.commentContentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.commentContent1 != null" >
        comment_content1 = #{record.commentContent1,jdbcType=VARCHAR},
      </if>
      <if test="record.commentContentAnswer1 != null" >
        comment_content_answer1 = #{record.commentContentAnswer1,jdbcType=VARCHAR},
      </if>
      <if test="record.dataFlag != null" >
        data_flag = #{record.dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_good_comment
    set comment_id = #{record.commentId,jdbcType=BIGINT},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      customer_good_id = #{record.customerGoodId,jdbcType=INTEGER},
      cms_good_id = #{record.cmsGoodId,jdbcType=INTEGER},
      comment_start = #{record.commentStart,jdbcType=VARCHAR},
      comment_content = #{record.commentContent,jdbcType=VARCHAR},
      comment_content_answer = #{record.commentContentAnswer,jdbcType=VARCHAR},
      comment_content1 = #{record.commentContent1,jdbcType=VARCHAR},
      comment_content_answer1 = #{record.commentContentAnswer1,jdbcType=VARCHAR},
      data_flag = #{record.dataFlag,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haohai.cms.model.TCmsGoodComment" >
    update t_cms_good_comment
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerGoodId != null" >
        customer_good_id = #{customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="cmsGoodId != null" >
        cms_good_id = #{cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="commentStart != null" >
        comment_start = #{commentStart,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentContentAnswer != null" >
        comment_content_answer = #{commentContentAnswer,jdbcType=VARCHAR},
      </if>
      <if test="commentContent1 != null" >
        comment_content1 = #{commentContent1,jdbcType=VARCHAR},
      </if>
      <if test="commentContentAnswer1 != null" >
        comment_content_answer1 = #{commentContentAnswer1,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null" >
        data_flag = #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        crt_date = #{crtDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haohai.cms.model.TCmsGoodComment" >
    update t_cms_good_comment
    set customer_id = #{customerId,jdbcType=INTEGER},
      customer_good_id = #{customerGoodId,jdbcType=INTEGER},
      cms_good_id = #{cmsGoodId,jdbcType=INTEGER},
      comment_start = #{commentStart,jdbcType=VARCHAR},
      comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_content_answer = #{commentContentAnswer,jdbcType=VARCHAR},
      comment_content1 = #{commentContent1,jdbcType=VARCHAR},
      comment_content_answer1 = #{commentContentAnswer1,jdbcType=VARCHAR},
      data_flag = #{dataFlag,jdbcType=VARCHAR},
      crt_date = #{crtDate,jdbcType=TIMESTAMP}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  
  
  <select id="getCommentPageInfo" resultMap="BaseResultMap" parameterType="java.util.Map">
    select gc.*,c.customer_name from t_cms_customer c,t_cms_good_comment gc where c.customer_id=gc.customer_id
    <if test="customerName != null ">
      and c.customer_name like #{customerName}
    </if>
     order by gc.crt_date desc 
  </select>
  
  
</mapper>