<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haohai.cms.mapper.TCmsCustomerGoodMapper" >
  <resultMap id="BaseResultMap" type="com.haohai.cms.model.TCmsCustomerGood" >
    <id column="customer_good_id" property="customerGoodId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="cms_good_guige" property="cmsGoodGuige" jdbcType="VARCHAR" />
    <result column="good_amount_old" property="goodAmountOld" jdbcType="DECIMAL" />
    <result column="good_amount_now" property="goodAmountNow" jdbcType="DECIMAL" />
    <result column="good_img_src" property="goodImgSrc" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="TIMESTAMP" />
    <result column="mdf_date" property="mdfDate" jdbcType="TIMESTAMP" />
    <result column="cms_good_id" property="cmsGoodId" jdbcType="INTEGER" />
    <result column="express_id" property="expressId" jdbcType="VARCHAR" />
    <result column="express_type" property="expressType" jdbcType="VARCHAR" />
    <result column="good_status" property="goodStatus" jdbcType="INTEGER" />
    <result column="good_count" property="goodCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    customer_good_id, customer_id, order_id, good_name, cms_good_guige, good_amount_old, 
    good_amount_now, good_img_src, crt_date, mdf_date, cms_good_id, express_id, express_type, 
    good_status, good_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haohai.cms.model.TCmsCustomerGoodCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_customer_good
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_customer_good
    where customer_good_id = #{customerGoodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cms_customer_good
    where customer_good_id = #{customerGoodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.haohai.cms.model.TCmsCustomerGoodCriteria" >
    delete from t_cms_customer_good
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haohai.cms.model.TCmsCustomerGood" >
    insert into t_cms_customer_good (customer_good_id, customer_id, order_id, 
      good_name, cms_good_guige, good_amount_old, 
      good_amount_now, good_img_src, crt_date, 
      mdf_date, cms_good_id, express_id, 
      express_type, good_status, good_count
      )
    values (#{customerGoodId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{goodName,jdbcType=VARCHAR}, #{cmsGoodGuige,jdbcType=VARCHAR}, #{goodAmountOld,jdbcType=DECIMAL}, 
      #{goodAmountNow,jdbcType=DECIMAL}, #{goodImgSrc,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}, 
      #{mdfDate,jdbcType=TIMESTAMP}, #{cmsGoodId,jdbcType=INTEGER}, #{expressId,jdbcType=VARCHAR}, 
      #{expressType,jdbcType=VARCHAR}, #{goodStatus,jdbcType=INTEGER}, #{goodCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.haohai.cms.model.TCmsCustomerGood" >
    insert into t_cms_customer_good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerGoodId != null" >
        customer_good_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodName != null" >
        good_name,
      </if>
      <if test="cmsGoodGuige != null" >
        cms_good_guige,
      </if>
      <if test="goodAmountOld != null" >
        good_amount_old,
      </if>
      <if test="goodAmountNow != null" >
        good_amount_now,
      </if>
      <if test="goodImgSrc != null" >
        good_img_src,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
      <if test="mdfDate != null" >
        mdf_date,
      </if>
      <if test="cmsGoodId != null" >
        cms_good_id,
      </if>
      <if test="expressId != null" >
        express_id,
      </if>
      <if test="expressType != null" >
        express_type,
      </if>
      <if test="goodStatus != null" >
        good_status,
      </if>
      <if test="goodCount != null" >
        good_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerGoodId != null" >
        #{customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="cmsGoodGuige != null" >
        #{cmsGoodGuige,jdbcType=VARCHAR},
      </if>
      <if test="goodAmountOld != null" >
        #{goodAmountOld,jdbcType=DECIMAL},
      </if>
      <if test="goodAmountNow != null" >
        #{goodAmountNow,jdbcType=DECIMAL},
      </if>
      <if test="goodImgSrc != null" >
        #{goodImgSrc,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null" >
        #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmsGoodId != null" >
        #{cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="expressType != null" >
        #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="goodStatus != null" >
        #{goodStatus,jdbcType=INTEGER},
      </if>
      <if test="goodCount != null" >
        #{goodCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haohai.cms.model.TCmsCustomerGoodCriteria" resultType="java.lang.Integer" >
    select count(*) from t_cms_customer_good
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_customer_good
    <set >
      <if test="record.customerGoodId != null" >
        customer_good_id = #{record.customerGoodId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.goodName != null" >
        good_name = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.cmsGoodGuige != null" >
        cms_good_guige = #{record.cmsGoodGuige,jdbcType=VARCHAR},
      </if>
      <if test="record.goodAmountOld != null" >
        good_amount_old = #{record.goodAmountOld,jdbcType=DECIMAL},
      </if>
      <if test="record.goodAmountNow != null" >
        good_amount_now = #{record.goodAmountNow,jdbcType=DECIMAL},
      </if>
      <if test="record.goodImgSrc != null" >
        good_img_src = #{record.goodImgSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mdfDate != null" >
        mdf_date = #{record.mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cmsGoodId != null" >
        cms_good_id = #{record.cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="record.expressId != null" >
        express_id = #{record.expressId,jdbcType=VARCHAR},
      </if>
      <if test="record.expressType != null" >
        express_type = #{record.expressType,jdbcType=VARCHAR},
      </if>
      <if test="record.goodStatus != null" >
        good_status = #{record.goodStatus,jdbcType=INTEGER},
      </if>
      <if test="record.goodCount != null" >
        good_count = #{record.goodCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_customer_good
    set customer_good_id = #{record.customerGoodId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      good_name = #{record.goodName,jdbcType=VARCHAR},
      cms_good_guige = #{record.cmsGoodGuige,jdbcType=VARCHAR},
      good_amount_old = #{record.goodAmountOld,jdbcType=DECIMAL},
      good_amount_now = #{record.goodAmountNow,jdbcType=DECIMAL},
      good_img_src = #{record.goodImgSrc,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=TIMESTAMP},
      mdf_date = #{record.mdfDate,jdbcType=TIMESTAMP},
      cms_good_id = #{record.cmsGoodId,jdbcType=INTEGER},
      express_id = #{record.expressId,jdbcType=VARCHAR},
      express_type = #{record.expressType,jdbcType=VARCHAR},
      good_status = #{record.goodStatus,jdbcType=INTEGER},
      good_count = #{record.goodCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haohai.cms.model.TCmsCustomerGood" >
    update t_cms_customer_good
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodName != null" >
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="cmsGoodGuige != null" >
        cms_good_guige = #{cmsGoodGuige,jdbcType=VARCHAR},
      </if>
      <if test="goodAmountOld != null" >
        good_amount_old = #{goodAmountOld,jdbcType=DECIMAL},
      </if>
      <if test="goodAmountNow != null" >
        good_amount_now = #{goodAmountNow,jdbcType=DECIMAL},
      </if>
      <if test="goodImgSrc != null" >
        good_img_src = #{goodImgSrc,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        crt_date = #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null" >
        mdf_date = #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cmsGoodId != null" >
        cms_good_id = #{cmsGoodId,jdbcType=INTEGER},
      </if>
      <if test="expressId != null" >
        express_id = #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="expressType != null" >
        express_type = #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="goodStatus != null" >
        good_status = #{goodStatus,jdbcType=INTEGER},
      </if>
      <if test="goodCount != null" >
        good_count = #{goodCount,jdbcType=INTEGER},
      </if>
    </set>
    where customer_good_id = #{customerGoodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haohai.cms.model.TCmsCustomerGood" >
    update t_cms_customer_good
    set customer_id = #{customerId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      good_name = #{goodName,jdbcType=VARCHAR},
      cms_good_guige = #{cmsGoodGuige,jdbcType=VARCHAR},
      good_amount_old = #{goodAmountOld,jdbcType=DECIMAL},
      good_amount_now = #{goodAmountNow,jdbcType=DECIMAL},
      good_img_src = #{goodImgSrc,jdbcType=VARCHAR},
      crt_date = #{crtDate,jdbcType=TIMESTAMP},
      mdf_date = #{mdfDate,jdbcType=TIMESTAMP},
      cms_good_id = #{cmsGoodId,jdbcType=INTEGER},
      express_id = #{expressId,jdbcType=VARCHAR},
      express_type = #{expressType,jdbcType=VARCHAR},
      good_status = #{goodStatus,jdbcType=INTEGER},
      good_count = #{goodCount,jdbcType=INTEGER}
    where customer_good_id = #{customerGoodId,jdbcType=INTEGER}
  </update>
</mapper>