<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haohai.cms.mapper.TCmsCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.haohai.cms.model.TCmsCustomer" >
    <id column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_acount" property="customerAcount" jdbcType="VARCHAR" />
    <result column="customer_pwd" property="customerPwd" jdbcType="VARCHAR" />
    <result column="customer_idno" property="customerIdno" jdbcType="VARCHAR" />
    <result column="customer_phone" property="customerPhone" jdbcType="VARCHAR" />
    <result column="customer_email" property="customerEmail" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="TIMESTAMP" />
    <result column="mdf_date" property="mdfDate" jdbcType="TIMESTAMP" />
    <result column="data_flag" property="dataFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    customer_id, customer_name, customer_acount, customer_pwd, customer_idno, customer_phone, 
    customer_email, crt_date, mdf_date, data_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haohai.cms.model.TCmsCustomerCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_customer
    where customer_id = #{customerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cms_customer
    where customer_id = #{customerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.haohai.cms.model.TCmsCustomerCriteria" >
    delete from t_cms_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haohai.cms.model.TCmsCustomer" >
    insert into t_cms_customer (customer_id, customer_name, customer_acount, 
      customer_pwd, customer_idno, customer_phone, 
      customer_email, crt_date, mdf_date, 
      data_flag)
    values (#{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{customerAcount,jdbcType=VARCHAR}, 
      #{customerPwd,jdbcType=VARCHAR}, #{customerIdno,jdbcType=VARCHAR}, #{customerPhone,jdbcType=VARCHAR}, 
      #{customerEmail,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}, #{mdfDate,jdbcType=TIMESTAMP}, 
      #{dataFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haohai.cms.model.TCmsCustomer" >
    insert into t_cms_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerAcount != null" >
        customer_acount,
      </if>
      <if test="customerPwd != null" >
        customer_pwd,
      </if>
      <if test="customerIdno != null" >
        customer_idno,
      </if>
      <if test="customerPhone != null" >
        customer_phone,
      </if>
      <if test="customerEmail != null" >
        customer_email,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
      <if test="mdfDate != null" >
        mdf_date,
      </if>
      <if test="dataFlag != null" >
        data_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAcount != null" >
        #{customerAcount,jdbcType=VARCHAR},
      </if>
      <if test="customerPwd != null" >
        #{customerPwd,jdbcType=VARCHAR},
      </if>
      <if test="customerIdno != null" >
        #{customerIdno,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null" >
        #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null" >
        #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFlag != null" >
        #{dataFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haohai.cms.model.TCmsCustomerCriteria" resultType="java.lang.Integer" >
    select count(*) from t_cms_customer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_customer
    <set >
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAcount != null" >
        customer_acount = #{record.customerAcount,jdbcType=VARCHAR},
      </if>
      <if test="record.customerPwd != null" >
        customer_pwd = #{record.customerPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.customerIdno != null" >
        customer_idno = #{record.customerIdno,jdbcType=VARCHAR},
      </if>
      <if test="record.customerPhone != null" >
        customer_phone = #{record.customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.customerEmail != null" >
        customer_email = #{record.customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mdfDate != null" >
        mdf_date = #{record.mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataFlag != null" >
        data_flag = #{record.dataFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_customer
    set customer_id = #{record.customerId,jdbcType=INTEGER},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      customer_acount = #{record.customerAcount,jdbcType=VARCHAR},
      customer_pwd = #{record.customerPwd,jdbcType=VARCHAR},
      customer_idno = #{record.customerIdno,jdbcType=VARCHAR},
      customer_phone = #{record.customerPhone,jdbcType=VARCHAR},
      customer_email = #{record.customerEmail,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=TIMESTAMP},
      mdf_date = #{record.mdfDate,jdbcType=TIMESTAMP},
      data_flag = #{record.dataFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haohai.cms.model.TCmsCustomer" >
    update t_cms_customer
    <set >
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAcount != null" >
        customer_acount = #{customerAcount,jdbcType=VARCHAR},
      </if>
      <if test="customerPwd != null" >
        customer_pwd = #{customerPwd,jdbcType=VARCHAR},
      </if>
      <if test="customerIdno != null" >
        customer_idno = #{customerIdno,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        customer_phone = #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null" >
        customer_email = #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        crt_date = #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null" >
        mdf_date = #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataFlag != null" >
        data_flag = #{dataFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haohai.cms.model.TCmsCustomer" >
    update t_cms_customer
    set customer_name = #{customerName,jdbcType=VARCHAR},
      customer_acount = #{customerAcount,jdbcType=VARCHAR},
      customer_pwd = #{customerPwd,jdbcType=VARCHAR},
      customer_idno = #{customerIdno,jdbcType=VARCHAR},
      customer_phone = #{customerPhone,jdbcType=VARCHAR},
      customer_email = #{customerEmail,jdbcType=VARCHAR},
      crt_date = #{crtDate,jdbcType=TIMESTAMP},
      mdf_date = #{mdfDate,jdbcType=TIMESTAMP},
      data_flag = #{dataFlag,jdbcType=VARCHAR}
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
</mapper>