<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haohai.cms.mapper.TCmsGoodCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.haohai.cms.model.TCmsGoodCategory" >
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="category_parent_id" property="categoryParentId" jdbcType="INTEGER" />
    <result column="category_level" property="categoryLevel" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="data_flag" property="dataFlag" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="CmsGoodCategoryResultMap" type="com.haohai.cms.model.dto.CmsGoodCategoryDto" extends="BaseResultMap" >
    <result column="category_parent_name" property="categoryParentName" jdbcType="VARCHAR" />
    <result column="good_category_tag" property="goodCategoryTag" jdbcType="VARCHAR" />
    <result column="good_category_tagname" property="goodCategoryTagname" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    category_id, category_name, category_parent_id, category_level, level, data_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.haohai.cms.model.TCmsGoodCategoryCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cms_good_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_good_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cms_good_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.haohai.cms.model.TCmsGoodCategoryCriteria" >
    delete from t_cms_good_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haohai.cms.model.TCmsGoodCategory" >
    insert into t_cms_good_category (category_id, category_name, category_parent_id, 
      category_level, level, data_flag
      )
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{categoryParentId,jdbcType=INTEGER}, 
      #{categoryLevel,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{dataFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="categoryId" parameterType="com.haohai.cms.model.TCmsGoodCategory" >
    insert into t_cms_good_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="categoryParentId != null" >
        category_parent_id,
      </if>
      <if test="categoryLevel != null" >
        category_level,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="dataFlag != null" >
        data_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryParentId != null" >
        #{categoryParentId,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel != null" >
        #{categoryLevel,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null" >
        #{dataFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haohai.cms.model.TCmsGoodCategoryCriteria" resultType="java.lang.Integer" >
    select count(*) from t_cms_good_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_cms_good_category
    <set >
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryName != null" >
        category_name = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryParentId != null" >
        category_parent_id = #{record.categoryParentId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryLevel != null" >
        category_level = #{record.categoryLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.dataFlag != null" >
        data_flag = #{record.dataFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_cms_good_category
    set category_id = #{record.categoryId,jdbcType=INTEGER},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      category_parent_id = #{record.categoryParentId,jdbcType=INTEGER},
      category_level = #{record.categoryLevel,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      data_flag = #{record.dataFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haohai.cms.model.TCmsGoodCategory" >
    update t_cms_good_category
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryParentId != null" >
        category_parent_id = #{categoryParentId,jdbcType=INTEGER},
      </if>
      <if test="categoryLevel != null" >
        category_level = #{categoryLevel,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null" >
        data_flag = #{dataFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haohai.cms.model.TCmsGoodCategory" >
    update t_cms_good_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_parent_id = #{categoryParentId,jdbcType=INTEGER},
      category_level = #{categoryLevel,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      data_flag = #{dataFlag,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  
  <!-- 根据商品分类id查询商品分类详情 -->
  <select id="getCmsGoodCategoryById" resultMap="CmsGoodCategoryResultMap" parameterType="java.lang.Integer">
  	select gc.*,gcp.category_name category_parent_name,group_concat(gct.tag_id order by gct.good_category_tag_sort) good_category_tag,
  	group_concat(gct.tag_name order by gct.good_category_tag_sort) good_category_tagname
	from (select * from t_cms_good_category where category_id=#{categoryId,jdbcType=INTEGER}) gc
	inner join t_cms_good_category gcp on gcp.category_id=gc.category_parent_id
	left join (select gct.*,tg.tag_name from t_cms_good_category_tag gct inner join t_cms_tag tg on gct.tag_id=tg.tag_id) gct 
	on gct.category_id=gc.category_id
  </select>
  
</mapper>